.block__2{

  .block__2-first{
    background: #fff;
    height: 100vh;
    width: 100%;
    position: relative;

    h4{
      color: #061b33;
      font-family: 'Lato', sans-serif;
      font-size: 50px;
      font-weight: 800;
      position: absolute;
      z-index: 1;
      left: 10%;
      top:4%;
      margin: 0px;
    }

    h5{
      color: #061b33;
      font-family: 'Lato', sans-serif;
      font-size: 120px;
      font-weight: 800;
      position: absolute;
      right: -20px;
      bottom:4%;
      z-index: 1;
      opacity: 0.05;
      margin: 0px;
    }

    .block__2-container{
      position: absolute;
      width: 90%;
      height: 75%;
      top: 50%;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3c6eb5+0,009788+100&0.8+0,0.6+100 */
      background: -moz-linear-gradient(-45deg, rgba(68,123, 182,1) 0%, rgba(38,149,177,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(-45deg, rgba(68,123, 182,1) 0%,rgba(38,149,177,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(135deg, rgba(68,123, 182,1) 0%,rgba(38,149,177,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      left: 50%;
      transform: translateX(-50%) translateY(-53%);

      button{
        display: none;
      }

      .block__2-wrapper-r{
          position: relative;
          width: 100%;
        height: 100%;
        outline: none;
      }
    }


    .left{
      left: 0;
      top:0;
      width: 50%;
      position: absolute;
      height: 100%;

      h2{
        position: absolute;
        top:20%;
        right: 0;
        color: #fcfcfc;
        font-family: 'Lato', sans-serif;
        font-size: 30px;
        line-height: 36px;
        padding:20px 0px;
        font-weight: 400;
        margin-top: 0px;

      }

      .left-container{
        position: relative;
        width: 100%;
        height: 100%;
      }

      h3{
        color: #FCFCFC;
        font-family: 'Lato', sans-serif;
        font-size: 19px;
        line-height: 30px;
        font-weight: 400;
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }

      .bottom-part{
        position: absolute;
        display: flex;
        bottom: 10%;
        right: 10px;
        width: 45%;


        .bottom-title{
          margin-right: 40px;
          font-size: 10px;
          color: #fcfcfc;
          font-family: 'Lato', sans-serif;
          white-space: nowrap;
          opacity: 0.5;
        }

        hr{
          width: 50%;
          font-size: 10px;
          height: 0px;
          border: 1px solid #fcfcfc;
          opacity: 0.5;
          margin-right: 40px;
          margin-top: 15px;
        }

        .bottom-number{
          font-size: 10px;
          color: #fcfcfc;
          opacity: 0.5;
          font-family: 'Lato', sans-serif;
        }
      }
    }

    .right{
      top:0;
      right: 0;
      width: 50%;
      position: absolute;
      height: 100%;

      .right-container{
        position: relative;
        width: 100%;
        height: 100%;

        img{
          position: absolute;
          bottom: 10%;
          left:50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
.slick-track,
.slick-list{
  height: 100%;
}

.history{
  .left{
    width: 70% !important;
  }

  .right{
    width: 30% !important;
  }
}