@import "mixins";


.component.menu {
  position: fixed;
  top : 20px;
  left : 20px;
  height: 46px;
  width: 45px;
  background: $white; /* FF3.6-15 */

  border: 2px solid $blue;
  z-index: 100;
  transition : all 0.3s cubic-bezier(0.000, 0.000, 0.000, 0.960);
  transition-delay: 0.3s;
  .containerMenu {
    position : relative;
    width: calc(100% - 20px);
    height: 100%;
    padding: 0 10px;
    overflow: hidden;
    transition : all 0.3s cubic-bezier(0.000, 0.000, 0.000, 0.960);
    transition-delay: 0.5s;
    &:before {
      content : "";
      position: absolute;
      width: 33%;
      height: 100%;
      background: $green;
      left : -33%;
      transition: all 0.4s cubic-bezier(0.970, 0.035, 0.005, 0.980);
    }
  }

  &.open {
    width: 500px;
    transition-delay: 0s;
    .containerMenu:before {
      left : 100%;
    }
    .links {
      li {
        opacity: 1;
        transition: all 0.3s cubic-bezier(0.000, 0.000, 0.000, 0.960);
        transform: translate(0, 0px);
        &:nth-child(1) {
          transition-delay: 0.3s;
        }
        &:nth-child(2) {
          transition-delay: 0.4s;
        }
        &:nth-child(3) {
          transition-delay: 0.5s;
        }
        &:nth-child(4) {
          transition-delay: 0.6s;
        }
        &:nth-child(5) {
          transition-delay: 0.7s;
        }
      }
    }
    .burger {
      .content {
        opacity: 0;
        visibility: hidden;
        //transform : rotate(45deg);
        transition-delay: 0s;
      }
      .line {
        transform: scaleX(0);

        &:nth-child(1) {
          transition-delay: 0s;
        }
        &:nth-child(2) {
          transition-delay: 0.1s;
        }
        &:nth-child(3) {
          transition-delay: 0.2s;
        }
      }
    }
  }
  .routeManager {
    position: absolute;
    top: 50%;
    right: 0;
    min-width: 400px;
    font-size: 15px;
    text-transform : lowercase;
    transition: none;
    transform: translate( calc(100% + 10px) , -50% );
    transition-delay: none;
    color : white;
    &.white {
      color : white;
    }
  }

  .burger {
    position: absolute;
    right: 0;
    top : 0;
    cursor: pointer;
    width: 45px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
    .content{
      width: 14px;
      height: 14px;
      position: absolute;
      top : calc(50% - 7px);
      left : calc(50% - 7px);
      transition: all 0.3s cubic-bezier(0.000, 0.000, 0.000, 0.960);
      transition-delay: 0s;
      transform-origin: 50%;
    }
    .line {
      position: absolute;
      left : calc(50% - 7px);
      width: 14px;
      height: 2px;
      background: $blue;
      transform-origin: right center;
      transition: all 0.3s cubic-bezier(0.000, 0.000, 0.000, 0.960);
      transition-delay: 0.3s;
      &:nth-child(1) {
        top : 0;
        transition-delay: 0.1s;
      }
      &:nth-child(2) {
        top : calc(50% - 1px);
        transition-delay: 0.2s;
      }
      &:nth-child(3) {
        top : calc(100% - 2px);
        transition-delay: 0.3s;
      }
    }
  }

  .links {
    padding: 0 17px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    z-index: 10;
  }

  color : $blue;
  a {
    color : $blue;
  }

  ul {
    li {
      cursor: pointer;
      opacity: 0;
      display: block;
      position : relative;
      float : left;
      vertical-align: middle;
      padding : 0 10px;
      overflow : hidden;
      transition: all 0.1s cubic-bezier(0.000, 0.000, 0.000, 0.960);
      transform: translate(0, -5px);
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: 0.1s;
      }
      &:nth-child(3) {
        transition-delay: 0.2s;
      }
      &:nth-child(4) {
        transition-delay: 0.3s;
      }
      &:nth-child(5) {
        transition-delay: 0.4s;
      }




      &:hover {
        &:before {
          width: calc(100% - 20px);
          user-select : none;
          pointer-events: none;
        }
      }

      &:before {
        background: black;
        content: attr(data-text);
        position: absolute;
        top : 0;
        left : 10px;
        color : $blue;
        z-index: 2;
        width: 0%;
        overflow : hidden;
        transition : width 0.3s;
        white-space: nowrap;
        user-select : none;
        pointer-events: none;
      }
      &.current {
        a {
          cursor : default;
          color : $blue;
        }
        &:before {
          display: none;
        }
      }

      a {
        text-decoration: none;
        position: relative;

      }

    }
    .clr {
      clear : both;
    }
  }
}